{% extends 'template.html.twig' %}

{% block body %}

    <div class="alert alert-success">
        {{ personne.firtname }} {{ personne.name}} a {{ personne.age }} ans
    </div>
{% endblock %}

{% block title %}
    {{ personne.firtname }} {{ personne.name}}
{% endblock %}

{% block PageTitle %}
    Rechercher une personne par Id
{% endblock %}
